<div class="grid-container">
    <div class="grid-item">
        <p class="para">Find Your Account</p>
    </div>
    <hr>
    <div class="grid-item">
        <p class="para1">Please enter your email address to search for your account.</p>
        <form [formGroup]="formData">
            <div class="input-container">
                <input type="text" placeholder="Enter your email" formControlName="email">
            </div>
        </form>
    </div>
    <hr>
    <div class="grid-item">
        <button class="btn1" click="search()">Search</button>
        <button class="btn2">Cancle</button>
    </div>
  </div>
  